<style>
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .VStack {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .HStack {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
  }
</style>

<main>
  <div style="margin-top: 36px; width: 30%">
    <mat-card>
      <mat-card-header style="justify-content: center">
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="VStack" [formGroup]="payload">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              required
              matInput
              name="email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>usuario</mat-label>
            <input
              matInput
              name="username"
              required
              formControlName="username"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              type="password"
              required
              matInput
              name="password"
              formControlName="password"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirmar senha</mat-label>
            <input
              type="password"
              required
              matInput
              name="confirmPassword"
              formControlName="confirmPassword"
            />
          </mat-form-field>
          <div>{{ submitMessage === "" ? "" : submitMessage}}</div>
          <button
            mat-flat-button
            (click)="signUp()"
            [disabled]="submitOnProcess"
            color="primary"
          >
            {{ submitOnProcess ? "Processando..." : "Cadastrar" }}
          </button>
          <div class="HStack" style="justify-content: flex-end;">
            <span>Já tem uma conta?</span>
            <a routerLink="/login">Entrar</a>
            </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</main>
