<main class="main">
  <div class="content">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Pesquisa">
            <div class="HStack">
              <form class="VStack" [formGroup]="payload">
                <mat-form-field>
                  <mat-label>Cep de origem</mat-label>
                  <input
                    formControlName="zipCode"
                    name="zipCode"
                    matInput
                    placeholder="00000-000"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="">
                  <mat-label>Raio de alcance em km</mat-label>
                  <input
                    type="number"
                    formControlName="radius"
                    matInput
                    placeholder="Ex. Pizza"
                    required
                  />
                </mat-form-field>
                <div>
                  <button (click)="getInput()" mat-flat-button color="primary">
                    Pesquisar
                  </button>
                </div>
              </form>

              <textarea
                style="height: 90%"
                matInput
                [value]="searchResult"
                disabled
                placeholder="resultado:"
              ></textarea>
            </div>
          </mat-tab>

          <mat-tab label="Historico">
            <div style="display: flex; max-height: 300px; min-width: 395px">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="CEP">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.CEP }}</td>
                </ng-container>

                <ng-container matColumnDef="Raio">
                  <th mat-header-cell *matHeaderCellDef>radius</th>
                  <td mat-cell *matCellDef="let element">{{ element.raio }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</main>

<router-outlet></router-outlet>
