<main class="main">
  <div class="content">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Pesquisa">
            <div class="HStack">
              <form class="VStack" [formGroup]="payload">
                <mat-form-field>
                  <mat-label>Cep de origem</mat-label>
                  <input
                    formControlName="zipCode"
                    name="zipCode"
                    matInput
                    placeholder="00000-000"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="">
                  <mat-label>Raio de alcance em km</mat-label>
                  <input
                    type="number"
                    formControlName="radius"
                    matInput
                    placeholder="Ex. Pizza"
                    required
                  />
                </mat-form-field>
                <div>
                  <button (click)="getInput()" mat-flat-button color="primary">
                    Pesquisar
                  </button>
                </div>
              </form>

              <textarea
                style="height: 90%"
                matInput
                [value]="searchResult"
                disabled
                placeholder="resultado:"
              ></textarea>
            </div>
          </mat-tab>

          <mat-tab label="Historico"> Content 2 </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</main>

<router-outlet></router-outlet>
